<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.androidcustommetricsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidCustomMetricsApp"
        tools:targetApi="31">

        <!-- Sentry configuration from wizard -->
        <meta-data android:name="io.sentry.dsn" android:value="https://78591f57950588b9f0b890d6a0fef4a9@o4508065179762768.ingest.de.sentry.io/4509446478102608" />
        <meta-data android:name="io.sentry.debug" android:value="true" />
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="1.0" />
        <meta-data android:name="io.sentry.send-default-pii" android:value="true" />
        <meta-data android:name="io.sentry.traces.user-interaction.enable" android:value="true" />
        <meta-data android:name="io.sentry.attach-screenshot" android:value="true" />
        <meta-data android:name="io.sentry.attach-view-hierarchy" android:value="true" />
        <meta-data android:name="io.sentry.traces.time-to-full-display.enable" android:value="true" />

        

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AndroidCustomMetricsApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity" />
        <activity android:name=".AutoTTIDTTFDWithNTSMeasurementActivity" />
    </application>

</manifest>